<html><head></head><body>

<script>
    function myFunction(){
        var oReq = new XMLHttpRequest();
        oReq.onload = function(xhr){
            var books = JSON.loads(xhr.responseText);

            for(var  i = 0 ; i < books.length ; i++){
                var node = document.createElement("p");
                var textnode = document.createTextNode(books[i].name);
                node.appendChild(textnode);
                document.getElementsByTagName("body")[0].appendChild(node);
            }
        };
        oReq.open("GET", "/api/books", true);
        oReq.send();
    }
</script>

<div style="background-color: red; padding: 20px" onclick="myFunction()">CLICK-ME</div>

</body></html>